* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f8f8f8;
}

.air__header {
  background-color: #11172b;
  color: #ffffff;
  width: 100%;
  display: block;
}

.air__header__text {
  width: 640px;
  display: block;
  padding: 12px 0;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Titillium Web';
  margin: 0 auto;
}

span img {
  height: 24px;
  margin-right: 20px;
}

.air__card1 {
  margin: 40px auto 20px;
  font-size: 16px;
  color: #b3bdd5;
  border-radius: 8px;
  background-color: #ebeff8;
  padding: 24px 32px;
  width: 640px;
  display: block;
}

div img {
  height: 12px;
  margin-right: 10px;
}

.air__flight {
  font-size: 32px;
  font-family: 'Titillium Web';
  color: #000000;
  margin: 8px 0px 24px;
  font-weight: 1000;
}

.air__day {
  padding: 8px 24px;
  border-radius: 4px;
  background-color: white;
  color: #000000;
  width: 50%;
  margin-bottom: 16px;
}

.air__explanation {
  font-size: 12px;
}

.air__card2 {
  margin: 40px auto 20px;
  font-size: 16px;
  color: #b3bdd5;
  border-radius: 8px;
  background-color: white;
  width: 640px;
  display: block;
  padding-bottom: 24px;
}

.air__ticket {
  border-bottom: 2px solid #dbf1ec;
  color: #16bf97;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Titillium Web';
  padding: 8px 24px;
}

.air__flight__type {
  font-size: 12px;
  font-weight: 500;
  color: #b3bdd5;
  margin-top: 26px;
  padding: 0 24px;
}

.air__flight__time {
  font-size: 16px;
  font-weight: 700;
  color: #1a345e;
  margin: 4px 0;
  padding: 0 24px;
}

.air__running {
  padding: 0 24px;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
  color: #b3bdd5;
}

.air__running__type {
  font-size: 16px;
  color: #0b1f66;
  padding: 0 24px;
}

.air__service {
  text-align: right;
}

.air__service span {
  padding-right: 24px;
  font-size: 14px;
  font-weight: 500;
  color: #1a345e
}

.air__flight__time img {
  width: 18px;
  margin: 0 10px;
}

.soldout {
  font-size: 14px;
  font-weight: 500;
  color: #dce0e8;
  opacity: 0.5;
}